<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style-registro.css"/>
    <title>Sportify</title>
</head>
<body>
    <header>
        <nav>
            <h2>navegador</h2>

        </nav>
    </header>

    <main>
        <h2>NUEVA CUENTA</h2>
        <form action="" method="get">
            <input
                 type="text"
                 name=""
                 id=""
                 placeholder="Nombre"
            />
            
        </form>
        
        <form action="" method="get">
            <input 
            name=""
            id=""
            placeholder="Apellido"
            />
        </form>
        <form action="" method="get">
            <input 
            name=""
            id=""
            placeholder="Email"
            />
        </form>
        <form action="" method="get">
            <input 
            name=""
            id=""
            placeholder="Contraseña"
            />
        </form>
        <form action="" method="get">
            <input 
            name=""
            id=""
            placeholder="Confirmar contraseña"
            />
        </form>
        <form action="" method="get">
            <input 
            name=""
            id=""
            placeholder="Teléfono (opcional)"
            />
        </form>
        <div> 
            <h3>¿Ya tiene una cuenta?</h3>
            <button type="submit"> Iniciar sesión</button>
        </div>
        
        <div>
            <button type="submit"> Volver</button><button type="submit">Crear Cuenta</button>
        </div>

        <div>
            <img class="imagen" src="/images/registro/registro1.jpeg" alt="img 1"/>
        </div>

        <div>
            <img class="imagen" src="/images/registro/registro2.webp" alt="img 2"/>
        </div>

        <div>
            <img class="imagen" src="/images/registro/registro3.jpeg" alt="img 3"/>
        </div>
        
        
        

    </main>

    <footer>

    </footer>
</body>
</html>