<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Sportify</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo">
            <img src="./images/Home/header/todos_los_logos_de_los_juegos_olimpicos_16430_orig.jpg" width="100px" alt="logo">
            </div>
            <div class="search-box">
                <input type="search" placeholder="Buscar Articulo...">
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
            <ul>
                <li class="buy"><a class="color-nav" href=""><i class="fa-solid fa-cart-shopping"></i></a></li>
                <li class="New-user"><a class="color-nav" href=""><i class="fa-solid fa-user-plus"></i></a></li>
                <li class="registro"><a class="color-nav" href=""><i class="fa-solid fa-user"></i></a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="Option">
            <ul class="contenedor">
                <button><a class="category" href="#">Categoria</a></button>
                <button><a class="offer" href="#">Oferta</a></button>
                <button><a class="record" href="#">Historial</a></button>
                <button><a class="sell" href="#">Vender</a></button>
                <button><a class="trend" href="#">Tendencia</a></button>
                <button><a class="help" href="#">Ayuda</a></button>
            </ul>
        </section>
        <section class="banner">
            <img src="./images/Home/main/banner-equipamiento-deportivo_1284-32611.jpg" width="100%" height="550px" alt="logo">
        </section>
        <section class="destacado">
            <h1>Articulos destacados</h1>
            <div class="articulos">
                <div class="destacado1">
                    <lu><a href="./views/detail.html"><img src="./images/Home/main/zapatillas-nike--tanjun-mujer.jpg" width="400px" class="cuadro" alt="zapatilla"></a></lu>
                    <div class="detalle">
                        <p>Alta Zapatilla</p>
                        <p>$12000</p>
                        <lu class="caja-compra"><a class="compra" href="">Comprar</i></a></lu>
                    </div>
                </div>
                <div class="destacado2">
                    <lu><a href="./views/detail.html"><img src="./images/Home/main/al-rihla_w416.jpg" width="400px" class="cuadro" alt=""></a></lu>
                    <div class="detalle">
                        <p>Pelota del mundial</p>
                        <p>$25000</p>
                        <lu class="caja-compra"><a class="compra" href="">Comprar</a></lu>
                    </div>
                </div>
                <div class="destacado3">
                    <lu><a href="./views/detail.html"><img src="./images/Home/main/DD2124_010_A_PREM.jpg" width="400px" class="cuadro" alt=""></a></lu>
                    <div class="detalle">
                    <p>Campera re piola</p>
                    <p>$8000</p>
                    <lu class="caja-compra"><a class="compra" href="">Comprar</a></lu>
                    </div>
                </div>
            </div>
        </section>
        <section class="productos">
            <div class="stock">
                <div class="remera">
                    <lu><a href=""><img src="./images/Home/main/WhatsAppImage2023-02-06at10.42.54_4ccffd09-f555-4c5e-ae3b-c1a7731b581b.jpg" width="250px" height="256px" alt=""></a></lu>
                    <div class="detalle">
                        <p></p>
                        <p></p>
                    </div>
                </div>
                <div class="pelota">
                    <lu><a href=""><img src="./images/Home/main/786236-800-auto.png" width="250px" alt=""></a></lu>
                    <div class="detalle">
                        <p></p>
                        <p></p>
                    </div>
                </div>
                <div class="bate">
                    <lu><a href=""><img src="./images/Home/main/D_NQ_NP_666219-MLA45094246389_032021-O.jpg" width="250px" alt=""></a></lu>
                    <div class="detalle">
                        <p></p>
                        <p></p>
                    </div>
                </div>
                <div class="raqueta">
                    <lu><a href=""><img src="./images/Home/main/raqueta-de-tenis-wilson-us-open-21-ni_o-86004r002031001-1.jpg" width="250px" alt=""></a></lu>
                    <div class="detalle">
                        <p></p>
                        <p></p>
                    </div>
                </div>
                <div class="botines">
                    <lu><a href=""><img src="./images/Home/main/282625-800-800.jpg" width="250px" alt=""></a></lu>
                    <div class="detalle">
                        <p></p>
                        <p></p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        
    </footer>
</body>
</html>